<div class="bg-gray">
    <div class="container">
        <!--BreadCumb  -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'inicio' %} ">Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'curso' %} ">Curso</a></li>
                <li class="breadcrumb-item" aria-current="page">Cordinador de actividades especiales</li>
                <li class="breadcrumb-item active" aria-current="page">Inscribete</li>
            </ol>
        </nav>
    </div>
</div>